$neutral-0: hsl(0, 0%, 100%);
$neutral-300: hsl(252, 6%, 83%);
$neutral-500: hsl(245, 15%, 58%);
$neutral-700: hsl(245, 19%, 35%);
$neutral-900: hsl(248, 70%, 10%);
$orange-500: hsl(7, 88%, 67%);
$orange-700: hsl(7, 71%, 60%);
$grad-1: linear-gradient(45deg, hsl(7, 86%, 67%), hsl(0, 0%, 100%));

$colors: (
    'neutral-0':$neutral-0,
    'neutral-300':$neutral-300,
    'neutral-500':$neutral-500,
    'neutral-700':$neutral-700,
    'neutral-900':$neutral-900,
    'orange-500':$orange-500,
    'orange-700':$orange-700,
    'grad-1':$grad-1,
);