@use 'reset';
@use 'colors';
@use 'sizing';
@use 'typography';
@use 'icons';
@use 'breakpoints';
@use '_buttons';

/** BACKGROUND **/
body {
    min-height: 100vh;
    background-image:
        url('/assets/images/pattern-squiggly-line-bottom.svg'),
        url('/assets/images/pattern-squiggly-line-top.svg'),
        url('/assets/images/pattern-lines.svg'),
        url('/assets/images/background-mobile.png');
    background-repeat: no-repeat, no-repeat, no-repeat, no-repeat;
    background-position: bottom left, 100% 24px, center top, bottom right;
    background-size: auto 13rem, auto 3.25rem, auto, 100% 100%;
}

.container {
    margin-inline: 16px;

    @include breakpoints.on-tablet {
        margin-inline: 32px;
    }

    @include breakpoints.on-desktop {
        max-width: 891px;
        margin-inline: auto;
    }
}


.logo {
    width: 164px;
    margin-block: 32px;
    margin-inline: auto;
}

form {
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin-inline: 16px;

    @include breakpoints.on-tablet {
        max-width: 522px;
        margin-inline: auto;
    }

    @include breakpoints.on-desktop {
        max-width: 460px;
        margin-inline: auto;
    }
}


label {
    display: block;
    padding-bottom: 12px;
}

.hint {
    display: grid;
    grid-template: "a b" /auto 1fr;
    gap: 8px;

    .hint-icon {
        grid-area: a;
    }

    .hint-message {
        grid-area: b
    }
}

// @mixin show-error {
//     border-color: colors.$orange-500;

//     &+.hint {
//         display: grid;
//     }
// }

input[type="text"],
input[type="email"] {
    width: 100%;
    padding: 16px;
    background: hsla(0, 0%, 100%, 8%);
    border: 1px solid colors.$neutral-500;
    border-radius: 12px;
    color: inherit;

    &:hover {
        cursor: pointer;
        background-color: rgba($color: #fff, $alpha: 0.2);
    }

    &:focus {
        box-shadow: 0 0 0 6px colors.$neutral-500;
        outline: 2px solid colors.$neutral-900;
        outline-offset: 1px;
    }

    &+.hint {
        display: none;
    }

    &.changed:invalid:not(:focus) {
        border-color: colors.$orange-500;

        &+.hint {
            display: grid;
        }
    }
}


input[type="text"]::placeholder {
    color: colors.$neutral-300;
}

.upload-field {
    padding: 20px;
    background: hsla(0, 0%, 100%, 8%);
    border: 1px dashed colors.$neutral-500;
    border-radius: 12px;
    text-align: center;
    margin-bottom: 16px;
    cursor: pointer;

    img.preview {
        width: 50px;
        height: 50px;
        margin-inline: auto;
        margin-bottom: 16px;
        border: 2px solid colors.$neutral-500;
        border-radius: 12px;
    }
}

.upload-field-icon {
    padding: 12px;
    background: hsla(0, 0%, 100%, 10%);
    border: 1px solid colors.$neutral-700;
    border-radius: 12px;
    text-align: center;
    margin-inline: auto;
    width: max-content;
    margin-bottom: 16px;
}



.ticket {
    background: url("/assets/images/pattern-ticket.svg#svgView(preserveAspectRatio(none))") center center no-repeat;
    background-size: 100% 100%;
    max-width: 600px;
    margin-inline: 16px;
    padding: 16px;
    display: grid;
    grid-template: "e n"
        "a n" /1fr auto;

    .event-info {
        grid-area: e;
        display: grid;
        grid-template: "l n"
            "l d" /auto 1fr;
        padding-bottom: 32px;

        .logo-wrapper {
            grid-area: l;
            padding-right: 12px;
        }

        .conf-name {
            grid-area: n;
            padding-bottom: 8px;
        }

        .date {
            grid-area: d;
        }
    }

    .attendee-info {
        grid-area: a;
        display: grid;
        grid-template: "a n"
            "a g" /auto 1fr;

        .avatar {
            grid-area: a;
            padding-right: 12px;

            img {
                width: 45px;
            }
        }

        .name {
            grid-area: n;
        }

        .github {
            display: flex;
            flex-direction: row;
            align-items: center;
            grid-area: g;
        }
    }

    .ticket-number {
        grid-area: n;
        text-align: center;
        writing-mode: vertical-rl;
    }

    @include breakpoints.on-tablet {
        margin-inline: auto;
    }
}

.hidden {
    display: none;
}